*{
    margin: 0;
}
/* Home page*/

.home-container{
    width: 100%;
    height: 100vh;
    background-image: url(./img/hero1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
   
    font-weight: bold;
    width: 120px;
    cursor: pointer;
    color:white;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    
  
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.home-container.navbar .cta:hover ::after{
    width: 100%;

}
.hero p{
    margin-top: 50px;
}

.hero {
    width: 100%;
    position: absolute;

    text-align: center;
    color: white;   
}
.hero h1{
    display: bl;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: 1s;
    letter-spacing: normal;
    margin-top: 120px;
    align-content: center;
   
}
.hero h1:nth-child(1){
    animation-delay: 1s;

}
.hero h1:nth-child(2){
    animation-delay: 2s;
    
}
.hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
    
    
}
.hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 3s;
}
.hero h1:nth-child(1){
    animation-delay: .5s;

}
.hero h1:nth-child(2){
    animation-delay: 1.5s;
    
}
.hero h1:nth-child(3){
    animation-delay: 2.5s;
    
}



/*keyframes*/
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;

    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: white;
        font-weight: 500px;
    }
}

.button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.button span{
    
        background: #009688;
        height: 100%;
        width: 0;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.5s;
    
}
.button .span :hover {
    width: 100%;
}
.button :hover {
    border: none;
}

/*portfolio*/
header {

    background-color: hotpink;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}
a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 0 1em;
    font-size: large;

}



.nav-container{
    background: none;
    
}
.navbar-container{
    background-color:hotpink;
    padding: 50 px;
    display: contents;
    justify-content: space-between;
    background-repeat: no-repeat;
}
.navbar-portfolio{
    text-decoration: none;
    color: black;
    display: block;
    padding: 0 1em;   
    display: flex;
    justify-content: space-between;
}
.navbar-container .navbar-tittle a{
   color: darkblue; 
}

.navbar-portfolio-title a {
    color: pink;

}
/*CARP SECTION*/
.carptask{
    background-color: palegoldenrod;

}
.poster h1{
    margin-bottom: 80px;
    margin-top: 80px;
}
.carptask .carpcontainer{
    flex-direction: column;
    text-align:center ;
    max-width: 1500px;
    margin: 0;
    padding: 100px 0;
}
.carptask .section-title{
    font-size: 5rem;
    font-weight: 300;
    color: darkblue;
    margin-bottom: 150px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;

}
.carptask .section-title span{
    color: lightpink;
}
.carptask .poster-reflection p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
}



.uxtask {
    background-color:cornsilk;
}
.uxtask .section-title{
    font-size: 5rem;
    font-weight: 300;
    color: darkblue;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.uxtask .section-title span{
    color: lightpink;

}
.uxtask h2{
    text-align: center;
  
}
.uxtask p{
 
    color: black;
    flex: 1;
    padding: 10px;
}
.flowchart p{
        color: black;
        flex: 1;
        padding: 10px;
    
}
.flowchart .flowchart-image{
    flex-direction: column;
    text-align:center    
}

/*typetask*/
.typetask{
    background-color: white;

}

.typetask .typecontainer{
    flex-direction: column;
    text-align:center ;
    max-width: 1500px;
    margin: 0;
    padding: 100px 0;
}
.typetask .section-title{
    font-size: 5rem;
    font-weight: 300;
    color: darkblue;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.typetask .section-title span{
    color: lightpink;
}
.typetask .poster-reflection p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
letter-spacing: 0.5rem;
}
.typetask .poster {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.typetask .a3-poster{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url();
    background-size: cover;
    margin: 10px 5%;
  
}


/*codingtask*/
.codingtask {
    background-color: bisque;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 25px 15px 15px;
}
.codingtask .section-title{
    font-size: 5rem;
    font-weight: 300;
    color: darkblue;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
 
}
.codingtask .section-title span{
    color: lightpink;
}

.codingtask .codingcontainer{
    flex-direction: column;
    text-align:center ;
    max-width: 1500px;
    margin: 0;
    padding: 100px 0;
}
.codingtask h2{
    text-align: center;
  
}
.worksheet p{
 
    text-align: center;
    color: black;
    flex: 1;
    padding: 10px;
}
.worksheet a{
    margin-top: 30px;
    margin-bottom: 50px;
    color:crimson;
    font-weight: italic;
    
}
.worksheet .worksheet1{
    align-items: center;
}



/* About me*/
.about-container{
    width: 100%;
    height: 100vh;
    background-image: url(./img/aboutme-zuur-6fGbIwS8PBM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
   

.content{
    width: 100%;
    position: absolute;

    text-align: center;
    color: white;
    
}
.content h1{
    font-size: 70px;
    margin-top: 120px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: black;
}
/*<a href="https://icons8.com/icon/87064/snake">Snake icon by Icons8</a>*/

.education{
    width: 100%;
    position: absolute;

    text-align: center;
    color: white;
    

}
.education h1{
    font-size: 70px;
    margin-top: 500px;
}
.education p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: black;
}

.contact-container{
    background-image: url(./img/about\ backg.jpg);
    width: 100%;
    height: 100vh;
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contact-container .section-title{
   
    color: darkblue;
    margin-top: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;  
}